<h1>TITULARIDAD DE PROPIEDAD INTELECTUAL</h1>



Por este medio cedo y convengo en ceder a Brose, o a aquella entidad que Brose lo determine, todos los derechos,

titularidad y participación que pueda tener o adquirir en o sobre cualquier Propiedad Intelectual que se relacione en forma

total o parcial con los negocios de Brose o con las investigaciones o desarrollos que Brose esté efectivamente realizando o

que pueda demostrar que espera realizar, en la medida en que dicha Propiedad Intelectual no sea para este momento propiedad

de Brose por efecto de ley. Asimismo, me obligo a otorgar todos los documentos y a hacer todo lo que sea necesario para

perfeccionar o de otra forma garantizar a Brosela titularidad de la Propiedad Intelectual cedida por este medio. Pondré por

escrito cualquier Propiedad Intelectual que me sea revelada o que desarrolle o aprenda en el transcurso de mi relación laboral y

que se relacione con los servicios que presto a Brose, aunque ya esté en ese formato, y comunicaré a Brose con prontitud toda

esa Información Confidencial. Tanto durante mi relación laboral como después de su terminación cooperaré con Brose, la cual

sufragará los gastos razonables, en la protección de sus derechos en y sobre la Propiedad Intelectual. En el caso de que Brose no

pueda obtener mi firma en algún documento que se necesite para algún proceso de solicitud de derechos de autor para dicha

Propiedad Intelectual, por este medio irrevocablemente nombro a Brose y a sus funcionarios y mandatarios debidamente

autorizados como mis representantes y apoderados, para que actúen en mi nombre y representación y realicen todos los actos

permitidos por la ley para lograr la obtención o emisión de patentes para dicha Propiedad Intelectual, con los mismos efectos

legales que si hubiesen sido ejecutados por mí.

<br><br>

Por este medio irrevocablemente renuncio a todos y cada uno de los derechos morales que pueda tener sobre la Propiedad

Intelectual creada conforme a este Convenio (el “Producto de mi Trabajo”), o cualquier parte de ella, en lo que concierne a

su uso por parte de Brose. En el caso de que dicha renuncia no sea exigible, convengo en otorgar y entregar a Brose, sin

ninguna remuneración adicional (salvo gastos menores), una renuncia a mis derechos morales en lo que concierne al

Producto de mi Trabajo y a su uso por parte de Brose. Reconozco y entiendo que el término “derechos morales”, según se

usa en este Convenio, incluye el derecho de un autor a ser conocido como el autor de su obra, impedir que otros sean

nombrados como autores de su obra, evitar que terceros realicen a su obra cambios que la deformen, e impedir que terceros

utilicen su obra o su nombre de forma que afecte negativamente su reputación profesional. <br><br>

Durante el transcurso de mi relación laboral con Brose y por los seis (6) meses siguientes a su terminación, revelaré a Brose, con

prontitud, toda la Propiedad Intelectual que se relacione total o parcialmente con los negocios de Brose o con las

investigaciones o desarrollos que Brose esté efectivamente realizando o que pueda demostrar que espera realizar, de la que

haya tenido conocimiento o que se haya relacionado directa o indirectamente con mis servicios para Brose, y que haya sido

creada, concebida o puesta en práctica por mí individualmente o junto con otros, ya sea patentable o no patentable y esté o no

protegida por derechos de autor. Reconozco y convengo en que se presumirá que cualquier Propiedad Intelectual relacionada con

los negocios, investigaciones o desarrollos de Brose que haya sido creada, concebida o puesta en práctica por mí

(individualmente o junto con otros) dentro de los seis (6) meses siguientes a la terminación de mi relación laboral con Brose, ha

sido concebida o realizada por mí durante el transcurso de mi relación laboral con Brose, a menos que yo demuestre lo contrario.

<br><br>

Por este medio cedo dicha Propiedad Intelectual a Brose. <br><br>

Este Convenio no requiere que ceda ninguno de mis derechos en alguna invención, siempre que pueda demostrar que no usé

ningún equipo, suministro, instalación o Información Confidencial de Brose; que la invención fue totalmente desarrollada en mi

tiempo libre y no proviene de ningún trabajo realizado por mí para Brose; y que la invención no se relacionaba, en el momento

de su concepción o de su puesta en práctica, con los negocios, investigaciones o desarrollos de Brose de los cuales haya tenido

conocimiento o que se hayan relacionado directa o indirectamente con los servicios prestados por mí a Brose. Reconozco y

convengo en que todos los materiales creados, preparados, aportados o escritos por mí, en forma total o parcial, serán trabajos

realizados bajo relación de dependencia o por encargo. Antes de ser contratado por Brose no realicé ni adquirí ninguna

participación en invenciones que sean objeto de patentes emitidas o de solicitudes de patente pendientes, o que puedan

convertirse en la base de una o más solicitudes de patente.

<br><br>